-
  var about_article = [
    {
      'title': 'Adamant — это сверх уровень цифровой сферы',
      'text': [
        `Забудьте про super, best и luxury. Репутационное
        продвижение, повышающее узнаваемость бренда,
        грамотно разработанная маркетинговая кампания и реклама
        в социальных сетях — это всего лишь основа, кристалл`,

        `<b>ADAMANT MEDIA GROUP</b> — мы превращаем необработанный
        алмаз вашей бизнес-идеи в сверкающий бриллиант
        успешного бренда. Делаем больше, чем от нас ожидают`
      ]
    }
  ];

  var about_stats = [
    {
      'img': {
        'width': '60',
        'height': '55',
        'href': '#icon-about-1'
      },
      'number': '>5',
      'ext': '',
      'text1': 'лет',
      'text2': 'работы'
    },
    {
      'img': {
        'width': '59',
        'height': '55',
        'href': '#icon-about-2'
      },
      'number': '570+',
      'ext': '',
      'text1': 'рекламных',
      'text2': 'кампаний'
    },
    {
      'img': {
        'width': '59',
        'height': '54',
        'href': '#icon-about-3'
      },
      'number': '2,5',
      'ext': 'млн',
      'text1': 'лидов',
      'text2': ''
    },
    {
      'img': {
        'width': '58',
        'height': '54',
        'href': '#icon-about-4'
      },
      'number': '23',
      'ext': 'млрд',
      'text1': 'выручки',
      'text2': 'у клиентов'
    },
  ];

section#about.section.about
  .wrap
    h1.section__title.about__title.line О НАС

    each item in about_article
      article.about__article
        h5.article__title= item.title

        each text in item.text
          p.article__text !{text}

    .about__stats
      each item in about_stats
        .stats__item
          svg.stats__icon(width= item.img.width height= item.img.height)
            use(xlink:href= item.img.href)
          .stats__content
            h1.stats__number
              span= item.number
              sup= item.ext
            p.stats__text
              span= item.text1
              br
              span= item.text2

    a.c-btn.c-btn--arrow--purple.about__btn(href='o_nas.php') подробнее
      svg.c-btn__arrow(width="59" height="15")
        use(xlink:href="#icon-arrow")