-
  var team_1 = [
    {
      'name': 'Волков Александр',
      'position': 'Генеральный директор',
      'about': 'Великий стратег. Строгий, но справедливый',
      'img': 'img/team/1.jpg'
    },
    {
      'name': 'Упоров Валентин',
      'position': 'Директор отдела маркетинга',
      'about': 'Маркетолог от бога. Без преувеличений',
      'img': 'img/team/2.jpg'
    },
    {
      'name': 'Семенов Владислав',
      'position': 'Заместитель директора',
      'about': 'Ещё не нашёлся человек, с которым он не смог договориться',
      'img': 'img/team/3.jpg'
    },
  ];

  var team_2 = [
    {
      'name': 'Ольга Никулина',
      'position': 'Главный бухгалтер',
      'img': 'img/team/4.jpg'
    },
    {
      'name': 'Алексей Воробьев',
      'position': 'Руководитель отдела продаж',
      'img': 'img/team/5.jpg'
    },
    {
      'name': 'Елена Дашиева',
      'position': 'Руководитель аккаунт отдела',
      'img': 'img/team/6.jpg'
    },
    {
      'name': 'Алексей Пахомов',
      'position': 'Зам. руководителя отдела арбитража',
      'img': 'img/team/7.jpg'
    },
    {
      'name': 'Юрий Чех',
      'position': 'Руководитель отдела дизайна и вёрстки',
      'img': 'img/team/8.jpg'
    },
    {
      'name': 'Андрей Слуцкий',
      'position': 'Руководитель технического отдела',
      'img': 'img/team/9.jpg'
    },
  ];

section#team.section.team
  .wrap
    h1.section__title.team__title.line КОМАНДА

    .team__content
      .team__leaders
        h5.leaders__title Руководители

        each person in team_1
          .team__block
            img.block__img(src= person.img, alt= person.name)
            .block__content
              h6.block__title= person.name
              p.block__desc= person.position
              p.block__text= person.about

      .team__people.js-team
        h5.people__title Сотрудники

        .team__blocks.js-team-blocks
          .blocks__view.js-team-view

            each person in team_2
              .team__block.team__block--small.js-team-item
                img.block__img(src= person.img, alt= person.name)
                .block__content
                  h6.block__title= person.name
                  p.block__desc= person.position

          .blocks__control
            a.control__btn.control__btn--top(href="javascript:void(0)" data-team-top)
            a.control__btn.control__btn--bottom(href="javascript:void(0)" data-team-bottom)