form#form-1.c-form.order__form(
  action=''
  method='post'
  onsubmit='validateform(this); return false;'
)

  //<input type="hidden" name="Lead[offer]" value="bormental">
  //<input type="hidden" name="Lead[info]">
  //<input type="hidden" name="Lead[age]"<?=($_GET['age']?' value="'.$_GET['age'].'"':'')?>>
  //<input class="cityInput" value="<?=$_GET['city']?>" name="Lead[city]" type="hidden">
  //<?php echo empty($sessiondata["click"])?'':'<input type="hidden" name="Lead[click]" value="'.$sessiondata["click"].'" />'; ?>
  //<input type="hidden" name="Lead[landing_id]" value="<?php echo $landings_id; ?>">
  //<input type="hidden" name="Lead[sub1]" value="<?php echo isset($_GET['sub1']) ? $_GET['sub1'] : ''; ?>">
  //<input type="hidden" name="Lead[sub2]" value="<?php echo isset($_GET['sub2']) ? $_GET['sub2'] : ''; ?>">
  //<input type="hidden" name="Lead[sub3]" value="<?php echo isset($_GET['sub3']) ? $_GET['sub3'] : ''; ?>">
  //<input type="hidden" name="Lead[sub4]" value="<?php echo isset($_GET['sub4']) ? $_GET['sub4'] : ''; ?>">
  //<input type="hidden" name="Lead[sub5]" value="<?php echo isset($_GET['sub5']) ? $_GET['sub5'] : ''; ?>">
  //<input type="hidden" name="Lead[wmkey]" value="<?php echo isset($_GET['wmkey']) ? $_GET['wmkey'] : ''; ?>">

  .c-form__header
    h6.header__text.
      <b>Оставьте заявку<br>
      и узнайте подробности</b>

  .c-form__content
    label.c-form__block Ваше имя
      input.c-input(
        type='text'
        name='Lead[name]'
        data-mask='name'
        placeholder='Екатерина'
        required
      )

    label.c-form__block.c-form__block--1-3 Рост
      input.c-input(
        type='number'
        name='Lead[height]'
        data-mask='height'
        placeholder='см'
        required
      )

    label.c-form__block.c-form__block--2-3 Вес
      input.c-input(
        type='number'
        name='Lead[weight]'
        data-mask='weight'
        placeholder='кг'
        required
      )

    label.c-form__block.c-form__block--3-3 Возраст
      input.c-input(
        type='number'
        name='Lead[age]'
        data-mask='age'
        placeholder='лет'
        required
      )

    label.c-form__block Ваш телефон
      input.c-input(
        type='tel'
        name='Lead[phone]'
        data-mask='phone'
        placeholder='+7 (XXX) XXX - XX - XX'
        required
      )

    input.c-btn.c-btn--main--wide--red--pulse.c-form__btn(
      type='submit'
      value='ЗАПИСАТЬСЯ'
    )

    p.c-form__footer-text.
      *Программа для женщин от 28 до 65 лет, граждан РФ