include head-page

section#method.section.method
  .wrap
    h1.section__title.method__title.line МЕТОДИКИ

    ul.c-breadcrumbs.method__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#methods") Методики
      li.c-breadcrumbs__item
        a(href="") Лидогенерация

    .method__preview
      iframe.preview__video(
        width="750"
        height="430"
        src="https://www.youtube.com/embed/JsQlysPRoGw?showinfo=0"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      )
      
      article.preview__article
        h5.preview__title Заголовок
        p.preview__text.
          Это ознакомительное видео про привлечение клиентов,
          посмотрите какое оно замечательное

    article.method__article
      img.article__img(src="img/methods/1/article.png", alt="Картинка статьи")
      .article__wrap
        h3.article__number 01.
        h3.article__title Лидогенерация

        .article__content
          p.article__text.
            Лидогенерация  — один из самых эффективных инструментов современного маркетинга,
            который позволяет не только получать информацию о потенциальных клиентах,
            но и управлять их действиями, «превращая» посетителей интернет-ресурса в покупателей.

          p.article__text.
            Выбирая модель Cost Per Action (оплата за действие), владелец бизнеса оплачивает только
            нужные, заранее оговоренные действия пользователей:<br>
            - заполнение форм;<br>
            - посещение целевых страниц;<br>
            - просмотры видео, прослушивание аудио, изучение прайс-листа и т.п.

          p.article__text.
            Преимуществами лидогенерации перед любыми другими маркетинговыми инструментами эксперты считают:<br>
            - возможность определить цену одного лида;<br>
            - прогнозируемость бюджета на рекламу;<br>
            - повышение узнаваемости бренда;<br>
            - возможность в любой момент увеличить количество лидов;<br>
            - оплату за результат;

    .method__tabs.js-tabs
      .tabs__nav-wrap
        .tabs__nav
          a.tabs__btn.active(href='javascript:void(0)' data-tab='#tab-1') Лидогенерация
          a.tabs__btn(href='javascript:void(0)' data-tab='#tab-2') Для медицинских центров
          a.tabs__btn(href='javascript:void(0)' data-tab='#tab-3') Для стоматологий
          a.tabs__btn(href='javascript:void(0)' data-tab='#tab-4') Для косметологических клиник

      #tab-1.tabs__plates.js-tabs-plates.active
        .plates__item
          .plates__header
            h3.plates__number 01.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Что такое лидогенерация
            p.plates__text.
              Лидогенерация —  комплекс маркетинговых мероприятий по привлечению
              лидов или, другими словами, процесс сбора заявок от потенциальных покупателей. 

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Что такое лид
            p.plates__text.
              Лид — это потенциальный клиент, совершивший заранее определенное
              целевое действие, демонстрирующее его заинтересованность в услугах 

        .plates__item
          .plates__header
            h3.plates__number 03.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Как работает лидогенерация
            p.plates__text.
              В самом общем виде процесс лидогенерации может быть разбит на 4 этапа:<br>
              <b>- создание лендинга</b> — продающей страницы, которая подводит потенциального
              покупателя к совершению нужного вам действия;<br>
              <b>- настройка рекламной компании</b>, чтобы посетители узнали о вашей странице и зашли на нее;<br>
              <b>- обработка лидов</b> — работа с поступившими заявками, оперативная связь с потенциальным клиентом;<br>
              <b>- мониторинг и оптимизация процессов</b> для увеличения продаж.

        .plates__item
          .plates__header
            h3.plates__number 04.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title CPA или сколько стоит лид
            p.plates__text.
              Стоимость лида определяется особенностями бизнес-ниши рекламодателя,
              географическим расположением компании, уровнем конкуренции на рынке,
              затратами на продвижение, показателями конверсии посадочной страницы
              и прогнозируемыми ожиданиями прибыли от одной сделки. Расчет стоимости
              лида производится по формуле:<br>
              <i>
                стоимость 1 перехода на интернет-ресурс Х количество таких переходов в течение
                выбранного промежутка времени / количество заявок за тот же временной промежуток.
              </i>

        .plates__item
          .plates__header
            h3.plates__number 05.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Важные моменты или О чем вам не расскажут в рекламном агентстве
            p.plates__text.
              Лидогенерация эффективна не для всех бизнес-ниш! Мы работаем только с теми тематиками,
              в которых этот метод дает стабильно высокие результаты.  Кроме того,
              эффективность лидогенерации напрямую связана с «качеством» лидов -
              привлечение активных, «свежих» и «живых» лидов обеспечивает быстрое
              повышение объемов продаж, а использование устаревших или полученных
              случайным образом клиентских баз способно, скорее, навредить, чем улучшить бизнес.

      #tab-2.tabs__plates.js-tabs-plates
        article.plates__article
          p.article__text.
            По данным поисковой системы Яндекс, количество запросов, связанных с
            медицинской тематикой, за последний год возросло на 30%. И это — несмотря
            на высокий уровень конкуренции в высокотехнологичных бизнес-нишах и ограничения,
            накладываемые законодательством РФ на рекламу медицинских услуг.

          p.article__text.
            Как показывает анализ статистики обращений в компанию Adamant MG, для медицинских
            центров наиболее релевантной целевой аудиторией являются представители двух групп:<br>
            - 25% пользователей заинтересованы в определенном медицинском сервисе;<br>
            - 30% разыскивают информацию по врачебной специальности.

          p.article__text.
            Оставшиеся 45% не являются потенциальными покупателями услуг, т.к. вводят
            название заболевания или перечисляют симптомы, пытаясь поставить диагноз
            и решить возникшую проблему самостоятельно.

          p.article__text.
            Лидогенерация для медицинских центров, выполненная экспертами Adamant MG,
            осуществляется на основе определения необходимых параметров  лидов и позволяет:<br>
            - обеспечить постоянный приток новых пациентов;<br>
            - повысить управляемость маркетинговых кампаний организации;<br>
            - превратить расходы на рекламу в окупаемые инвестиции.

        .plates__item
          .plates__header
            h3.plates__number 01.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Насколько эффективна лидогенерация для медицинских центров 
            p.plates__text.
              Лидогенерация демонстрирует прекрасные результаты при продвижении
              практически всех направлений работы медицинского центра. Максимальная
              эффективность достигается в сферах диетологии и снижения веса, в пластической
              хирургии, при продвижении всех видов диагностических, профилактических
              и реабилитационных процедур и консультаций специалистов.

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title С чего начинается лидогенерация для медицинских центров
            p.plates__text.
              На основе вашего уникального торгового предложения (УТП) и предлагаемых акций,
              специалисты по лидогенерации компании Adamant MG:<br>
              - подготовят продающий лендинг, адаптируя один из огромной базы наших шаблонов
              под индивидуальные особенности вашего медицинского центра;<br>
              - разработают рекламные объявления и баннеры;<br>
              - определят стоимость лида;<br>
              - настроят и в течение всего 3 дней запустят рекламную компанию. 

      #tab-3.tabs__plates.js-tabs-plates
        article.plates__article
          p.article__text.
            Лидогенерация для стоматологий имеет свою специфику. По данным экспертов по маркетингу,
            в этой сфере особенную важность имеет территориальный критерий выбора.
            Данное утверждение подтверждается статистикой:<br>
            - на запросы вида «стоматология улица (название)» приходится 27%;<br>
            - на запросы вида «удалить зуб район (название) » - 31%;<br>
            - на запросы вида «имплантация город (название)» - 24% от общего числа запросов.

          p.article__text.
            Эту же тенденцию подтверждают и данные, собранные специалистами
            компании Adamant MG в результате анализа поведения пользователей.
            Только за 2018 год количество запросов, сделанных с мобильных устройств,
            выросло на 108%, а переходов на интернет-ресурс рекламодателя
            — на 193% по сравнению с предыдущим годом.

          p.article__text.
            Поэтому, чтобы оптимизировать стоимость, качество и количество лидов при
            продвижении стоматологических услуг, мы:<br>
            - точно определяем аудиторию, на которую будут показываться объявления, и отсеиваем нецелевую;<br>
            - регулярно мониторим объявления конкурентов и меняем акции и предложения для
            повышения сравнительной привлекательности вашего объявления;<br>
            - учитываем ограничения в стоматологической тематике и используем максимальное
            количество форматов для привлечения большего числа потенциальных клиентов;<br>
            - определяем максимальную стоимость лида по различным направлениям;<br>
            - тестируем самые разнообразные стратегии привлечения трафика.

        .plates__item
          .plates__header
            h3.plates__number 01.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Эффективность лидогенерации для различных направлений стоматологии
            p.plates__text.
              Ежедневная практика специалистов компании Adamant MG подтверждает, что
              лидогенерация для стоматологии дает оптимальные результаты во всех
              направлениях - от стандартной первичной консультации до
              имплантации любых уровней сложности.

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Особенности подключения
            p.plates__text.
              Кроме разработки эффективного УТП, лидогенерация для стоматологии
              требует настройки точечного гео-таргетинга с адресами и
              контактными данными клиник, и углубленную работу по
              формирования доверия пользователя как к конкретному
              специалисту, так и к медицинскому заведению в целом.

      #tab-4.tabs__plates.js-tabs-plates
        article.plates__article
          p.article__text.
            В соответствии с законодательством РФ, продвижение косметологических услуг и
            товаров в интернете может осуществляться только со множеством существенных ограничений.
            Для владельцев бизнеса это означает, что лидогенерация  эффективна только
            для косметологических клиник с высоким средним чеком — например, для тех,
            кто специализируется на аппаратной и инъекционной косметологии.
            А для салонов красоты с низким средним чеком (1 000-1 500 ₽) этот
            метод привлечения клиентов может оказаться нерентабельным

          p.article__text.
            Дополнительную сложность для маркетинговой кампании представляет фокусировка
            потребителей на продвигаемом спецпредложении, из-за которой обработку
            лидов требуется проводить особенно тщательно, а практика допродаж
            становится почти обязательной. Особое значение в лидогенерации для
            косметологических клиник имеют разработка уникального торгового предложения,
            имеющего высокую ценность для целевой аудитории, и создание офферов,
            повышающих доверие к бренду.

        .plates__item
          .plates__header
            h3.plates__number 01.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Особенности лидогенерации для косметологических клиник
            p.plates__text.
              Практика доказывает, что лидогенерация для косметологических клиник оказывается
              максимально эффективной при продвижении аппаратных или инвазивных процедур
              -лифтинга, мезотерапии, инъекций ботокса, лазерной эпиляции и т.п.,
              - средний чек на которые достаточно высок и позволяет окупить
              расходы на оплату услуг таргетолога и рекламную кампанию.

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Особый подход
            p.plates__text.
              На основании многолетней практики маркетологами Adamant MG разработан
              эффективный алгоритм лидогенерации для косметологических клиник.
              Он включает в себя не только проработку уникального торгового предложения
              бренда, но и нестандартные методы подачи информации — яркие визуальные
              образы, красочные видеоролики процедур, подчеркивающие их эффективность
              и вызывающие доверие потенциальных клиентов.

include footer