include header-page

-
  var tabs_article = [
    { 
      'img': 'img/methods/2/preview.svg',
      'title': 'Реклама в интернете',
      'text': [
        `Сегодня Глобальная сеть признана основным каналом распространения информации в мире.
        Причинами этого эксперты считают:<br>
        - лавинообразный рост количества людей, воспринимающих интернет в качестве
        одной из жизненных потребностей;<br>
        - перемещение фокуса торговли с традиционных площадок на интернет-ресурсы,
        предлагающие пользователю новые возможности;<br>
        - интерактивность интернет-маркетинга, обеспечивающего конвертацию пользователей в покупателей;<br>
        - возможность фиксировать, обрабатывать и анализировать информацию о действиях
        пользователей для оперативной корректировки маркетинговой стратегии.`,

        `Для рекламодателя это означает не имеющую аналогов эффективность рекламы,
        высокую скорость обратной связи с покупателем, гибкость настройки
        продвигаемого предложения под выбранную целевую аудиторию, широкий
        выбор инструментов для измерения результативности стратегии и снижение
        расходов на рекламные кампании.`
      ]
    }
  ];

  var tabs_items = [
    {
      'number':'01.',
      'img':'img/methods/2/article/article-1-1.png',
      'title':'Онлайн или офлайн',
      'text':`К настоящему моменту крупнейшие рекламодатели страны выделяют
              на продвижение своих брендов в интернете более 45% бюджета,
              поскольку офлайн-маркетинг, оставаясь базовым имиджевым
              инструментом, заведомо проигрывает рекламе в интернете в
              области стимулирования продаж.`
    },
    {
      'number':'02.',
      'img':'img/methods/2/article/article-1-2.png',
      'title':'Виды интернет-рекламы',
      'text':`Основными видами рекламы в интернете считаются PPC (контекстная реклама),
              SEO (поисковое продвижение), медийная (банкетная) реклама, SMM
              (реклама в социальных сетях), мизерная реклама, СРА (лидогенерация),
              мобильная реклама.`
    },
    {
      'number':'03.',
      'img':'img/methods/2/article/article-1-3.png',
      'title':'Выбор площадки',
      'text':`Размещение рекламы в интернете может осуществляться на различных площадках
              - в специализированных инструментах поисковых систем Google и Яндекс,
              социальных сетях ВКонтакте и Одноклассники, Facebook и Twitter.`
    },
    {
      'number':'04.',
      'img':'img/methods/2/article/article-1-4.png',
      'title':'Попадание в целевую аудиторию',
      'text':`Несмотря на то, что основополагающим принципом продвижения в сети
              считается универсальность предложения, позволяющая привлечь максимальное
              количество посетителей, таргетированная реклама в интернете отвечает
              более специфичным запросам пользователей и значительно увеличивает
              показатели конверсии, отсекая посетителей, незаинтересованных
              в продвигаемых товарах и услугах.`
    },
    {
      'number':'05.',
      'img':'img/methods/2/article/article-1-5.png',
      'title': 'Свой отдел или аутсорс',
      'text':`Реклама в интернете с каждым годом становится все более профессиональной
              - интеграция искусственного интеллекта исключает возможность попадания в
              ТОП-выдачи поисковых систем некачественного контента. Необходимость постоянного
              мониторинга новых тенденций в интернет-маркетинге, изменений в поисковых
              алгоритмах и законодательной базе, а также оперативное приведение
              интернет-ресурса в полное соответствие с ними делают привлечение экспертов
              маркетинговой области практически обязательным. Аутсорс позволяет
              значительно сократить расходы на содержание собственного штата рекламщиков
              и маркетологов различных специальностей без потери качества конечного продукта.`
    },
  ];

section#method.section.method
  .wrap
    h1.section__title.method__title.line МЕТОДИКИ

    ul.c-breadcrumbs.method__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#methods") Методики
      li.c-breadcrumbs__item
        a(href="") Реклама в интернете

    //- .method__preview
    //-   iframe.preview__video(
    //-     width="750"
    //-     height="430"
    //-     src="https://www.youtube.com/embed/JsQlysPRoGw?showinfo=0"
    //-     frameborder="0"
    //-     allow="autoplay; encrypted-media"
    //-     allowfullscreen
    //-   )
      
    //-   article.preview__article
    //-     h5.preview__title Заголовок
    //-     p.preview__text.
    //-       Это ознакомительное видео про привлечение клиентов,
    //-       посмотрите какое оно замечательное

    each article in tabs_article
      article.method__article
        img.article__img(src= article.img, alt= article.title)
        .article__wrap
          h3.article__title= article.title

          .article__content
            each text in article.text
              p.article__text !{text}

    .tabs__plates
      each item in tabs_items
        .plates__item
          .plates__header
            h3.plates__number= item.number
            img.plates__img(src= item.img, alt= item.title)
          .plates__content
            p.plates__title= item.title
            p.plates__text !{item.text}

include footer