include head-page

section#method.section.method
  .wrap
    h1.section__title.method__title.line МЕТОДИКИ

    ul.c-breadcrumbs.method__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#methods") Методики
      li.c-breadcrumbs__item
        a(href="") Реклама в интернете

    .method__preview
      iframe.preview__video(
        width="750"
        height="430"
        src="https://www.youtube.com/embed/JsQlysPRoGw?showinfo=0"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      )
      
      article.preview__article
        h5.preview__title Заголовок
        p.preview__text.
          Это ознакомительное видео про привлечение клиентов,
          посмотрите какое оно замечательное

    article.method__article
      img.article__img(src="img/methods/1/article.png", alt="Картинка статьи")
      .article__wrap
        h3.article__number 02.
        h3.article__title Реклама в интернете

        .article__content
          p.article__text.
            Сегодня Глобальная сеть признана основным каналом распространения информации в мире.
            Причинами этого эксперты считают:<br>
            - лавинообразный рост количества людей, воспринимающих интернет в качестве
            одной из жизненных потребностей;<br>
            - перемещение фокуса торговли с традиционных площадок на интернет-ресурсы,
            предлагающие пользователю новые возможности;<br>
            - интерактивность интернет-маркетинга, обеспечивающего конвертацию пользователей в покупателей;<br>
            - возможность фиксировать, обрабатывать и анализировать информацию о действиях
            пользователей для оперативной корректировки маркетинговой стратегии.

          p.article__text.
            Для рекламодателя это означает не имеющую аналогов эффективность рекламы,
            высокую скорость обратной связи с покупателем, гибкость настройки
            продвигаемого предложения под выбранную целевую аудиторию, широкий
            выбор инструментов для измерения результативности стратегии и снижение
            расходов на рекламные кампании.

    .method__tabs.js-tabs
      //- .tabs__nav-wrap
      //-   .tabs__nav
      //-     a.tabs__btn.active(href='javascript:void(0)' data-tab='#tab-1') Реклама в интернете

      #tab-1.tabs__plates.js-tabs-plates.active
        .plates__item
          .plates__header
            h3.plates__number 01.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Онлайн или офлайн
            p.plates__text.
              К настоящему моменту крупнейшие рекламодатели страны выделяют
              на продвижение своих брендов в интернете более 45% бюджета,
              поскольку офлайн-маркетинг, оставаясь базовым имиджевым
              инструментом, заведомо проигрывает рекламе в интернете в
              области стимулирования продаж.

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Виды интернет-рекламы
            p.plates__text.
              Основными видами рекламы в интернете считаются PPC (контекстная реклама),
              SEO (поисковое продвижение), медийная (банкетная) реклама, SMM
              (реклама в социальных сетях), мизерная реклама, СРА (лидогенерация),
              мобильная реклама.

        .plates__item
          .plates__header
            h3.plates__number 03.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Выбор площадки
            p.plates__text.
              Размещение рекламы в интернете может осуществляться на различных площадках
              - в специализированных инструментах поисковых систем Google и Яндекс,
              социальных сетях ВКонтакте и Одноклассники, Facebook и Twitter.

        .plates__item
          .plates__header
            h3.plates__number 04.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Попадание в целевую аудиторию
            p.plates__text.
              Несмотря на то, что основополагающим принципом продвижения в сети
              считается универсальность предложения, позволяющая привлечь максимальное
              количество посетителей, таргетированная реклама в интернете отвечает
              более специфичным запросам пользователей и значительно увеличивает
              показатели конверсии, отсекая посетителей, незаинтересованных
              в продвигаемых товарах и услугах.

        .plates__item
          .plates__header
            h3.plates__number 05.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Свой отдел или аутсорс
            p.plates__text.
              Реклама в интернете с каждым годом становится все более профессиональной
              - интеграция искусственного интеллекта исключает возможность попадания в
              ТОП-выдачи поисковых систем некачественного контента. Необходимость постоянного
              мониторинга новых тенденций в интернет-маркетинге, изменений в поисковых
              алгоритмах и законодательной базе, а также оперативное приведение
              интернет-ресурса в полное соответствие с ними делают привлечение экспертов
              маркетинговой области практически обязательным. Аутсорс позволяет
              значительно сократить расходы на содержание собственного штата рекламщиков
              и маркетологов различных специальностей без потери качества конечного продукта.

include footer