include head

section#method.section.method
  .wrap
    h1.section__title.method__title.line МЕТОДИКИ

    ul.c-breadcrumbs.method__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#cases") Методики
      li.c-breadcrumbs__item
        a(href="") Лидогенерация

    .method__preview
      iframe.preview__video(
        width="750"
        height="430"
        src="https://www.youtube.com/embed/JsQlysPRoGw?showinfo=0"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      )
      
      article.preview__article
        h5.preview__title Заголовок
        p.preview__text.
          Это ознакомительное видео про привлечение клиентов,
          посмотрите какое оно замечательное

    article.method__article
      img.article__img(src="img/methods/1/article.png", alt="Картинка статьи")
      .article__wrap
        h3.article__number 01.
        h3.article__title Лидогенерация

        .article__content
          p.article__text.
            Задача организации, в особенности же начало повседневной работы по формированию
            позиции требуют определения и уточнения направлений прогрессивного развития. Не
            следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому
            кругу (специалистов) участие в формировании существенных финансовых и административных
            условий. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское
            обеспечение нашей деятельности представляет собой интересный эксперимент проверки дальнейших
            направлений развития.

          p.article__text.
            С другой стороны сложившаяся структура организации позволяет оценить
            значение форм развития. Задача организации, в особенности же постоянное
            информационно-пропагандистское обеспечение нашей деятельности позволяет
            оценить значение существенных финансовых и административных условий.
            Значимость этих проблем настолько очевидна, что дальнейшее развитие
            различных форм деятельности позволяет выполнять важные задания по
            разработке позиций, занимаемых участниками в отношении поставленных задач.

          p.article__text.
            Задача организации, в особенности же укрепление и развитие структуры
            в значительной степени обуславливает создание дальнейших направлений
            развития. Равным образом сложившаяся структура организации
            требуют от нас анализа систем массового участия.

    .method__tabs.js-tabs
      .tabs__nav
        a.tabs__btn.active(href='javascript:void(0)' data-tab='#tab-1') Лидогенерация
        a.tabs__btn(href='javascript:void(0)' data-tab='#tab-2') Для медицинских центров
        a.tabs__btn(href='javascript:void(0)' data-tab='#tab-3') Для стоматологий
        a.tabs__btn(href='javascript:void(0)' data-tab='#tab-4') Для косметологических клиник

      #tab-1.tabs__plates.js-tabs-plates.active
        .plates__item
          .plates__header
            h3.plates__number 01.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Что такое лидогенерация
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Что такое лид
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 03.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Как работает лидогенерация
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 04.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title CPA или сколько стоит лид
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 05.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Важные моменты
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

      #tab-2.tabs__plates.js-tabs-plates
        .plates__item
          .plates__header
            h3.plates__number 05.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Что такое лидогенерация
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 02.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Что такое лид
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 03.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Как работает лидогенерация
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 04.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title CPA или сколько стоит лид
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

        .plates__item
          .plates__header
            h3.plates__number 05.
            img.plates__img(src="img/methods/1/1.png", alt="")
          .plates__content
            p.plates__title Важные моменты
            p.plates__text.
              Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей
              деятельности способствует подготовки и реализации
              систем массового участия. 

include footer