include header-page

-
  var tabs_article = [
    { 
      'img': 'img/methods/5/preview.svg',
      'title': 'Оценка эффективности',
      'text': [
        `Показателями, по которым определяется эффективность лидогенерации, являются:<br>
        - соотношение количества продаж к объему потенциальных сделок;<br>
        - скорость окупаемости расходов на рекламу;<br>
        - стоимость лида.`,

        `Главными факторами, влияющими на ключевые показатели эффективности (KPI),
        выступают качество лидов и профессионализм менеджеров по продажам;
        дополнительными - уровень конкурентоспособности продвигаемого продукта,
        стоимость товара или услуги и общая ситуация в сегменте рынка.`,

        `Показатель ROI (Return On Investment) позволяет рассчитать возврат на инвестиции
        в маркетинг и относится к числу ключевых характеристик рентабельности бизнеса.
        Формула ROI в общем виде выглядит как:<br>
        ROI = доход, полученный предприятием, за вычетом маркетинговых расходов
        разделить на затраты на рекламную кампанию.`,

        `Результат может выражаться как в процентном соотношении, так в числовом коэффициенте.
        Для объективного расчета необходимо учитывать себестоимость продукта,
        прибыль, полученную от его реализации и сумму вложений в рекламу товара или услуги.`
      ]
    }
  ];

  var tabs_items = [
    {
      'number':'01.',
      'img':'img/methods/5/article/article-1-1.png',
      'title':'ROI - самый важный показатель',
      'text':`ROI позволяет количественно определить эффективность вложений в рекламную
              кампанию и получить конкурентное преимущество перед организациями-конкурентами,
              не обладающими подобными метриками.`
    },
    {
      'number':'02.',
      'img':'img/methods/5/article/article-1-2.png',
      'title':'Автоматизация расчета эффективности',
      'text':`Отслеживание эффективности маркетинговой кампании осуществляется с помощью
              автоматизированных систем веб-анализа - html-счетчиков Яндекс.Метрика,
              Google Analytics и LiveInternet. Инструменты интегрируются в веб-ресурс
              и не требуют наличия доступа к серверу, т.к. управляются
              из системы управления контентом.<br><br>
              Вместе с этим в Adamant MG используются собственно разработанные программы, для рассчёта
              эффективности закупки лидов. Это позволяет клиентам легко и
              информативно рассчитать свою дополнительную прибыль.`
    }
  ];

section#method.section.method
  .wrap
    h1.section__title.method__title.line МЕТОДИКИ

    ul.c-breadcrumbs.method__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#methods") Методики
      li.c-breadcrumbs__item
        a(href="") Оценка эффективности

    //- .method__preview
    //-   iframe.preview__video(
    //-     width="750"
    //-     height="430"
    //-     src="https://www.youtube.com/embed/JsQlysPRoGw?showinfo=0"
    //-     frameborder="0"
    //-     allow="autoplay; encrypted-media"
    //-     allowfullscreen
    //-   )
      
    //-   article.preview__article
    //-     h5.preview__title Заголовок
    //-     p.preview__text.
    //-       Это ознакомительное видео про привлечение клиентов,
    //-       посмотрите какое оно замечательное

    each article in tabs_article
      article.method__article
        img.article__img(src= article.img, alt= article.title)
        .article__wrap
          h3.article__title= article.title

          .article__content
            each text in article.text
              p.article__text !{text}

    .tabs__plates
      each item in tabs_items
        .plates__item
          .plates__header
            h3.plates__number= item.number
            img.plates__img(src= item.img, alt= item.title)
          .plates__content
            p.plates__title= item.title
            p.plates__text !{item.text}

include footer